<?php

declare(strict_types=1);

/*
 * SiskomVoiceAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace SiskomVoiceAPILib\Controllers;

use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use CoreInterfaces\Core\Request\RequestMethod;
use SiskomVoiceAPILib\Exceptions\ApiException;
use SiskomVoiceAPILib\Models\RouteIncoming;
use SiskomVoiceAPILib\Models\RouteIncomingRequest;
use SiskomVoiceAPILib\Models\RouteList;
use SiskomVoiceAPILib\Models\RouteOutgoing;
use SiskomVoiceAPILib\Models\RouteOutgoingRequest;

class RouteController extends BaseController
{
    /**
     * @param RouteIncomingRequest $body
     *
     * @return RouteIncoming Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function routeIncoming(RouteIncomingRequest $body): RouteIncoming
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/route/incoming')
            ->auth('global')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(RouteIncoming::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @param RouteOutgoingRequest $body
     *
     * @return RouteOutgoing Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function routeOutgoing(RouteOutgoingRequest $body): RouteOutgoing
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/route/outgoing')
            ->auth('global')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()->type(RouteOutgoing::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * @return RouteList Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function routeList(): RouteList
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/route/list')
            ->auth('global')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'));

        $_resHandler = $this->responseHandler()->type(RouteList::class);

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
